body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background-color: #03DB25;
}

/*---------HEADING+TITLE----------*/

.title {
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:20%;
    margin-bottom:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.subheading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -28%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:25%;
    font-weight: 100;
}

.author-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
}

/*---------THE AI SECTION----------*/
.the-AI{
    text-align: center;
    justify-content: center;
    padding: 5em;
    margin: auto;
    max-width: 70%;  /* Add a height to the parent element */
    height: 290vh;
}

#the-AI-title{
    position: sticky;
    top: 5em;
    font-weight: 500;
    margin-bottom: 50em; /*trying to add distance between the title and the text */
}

#the-AI-text1{
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text2{
    position: sticky;
    top: 19em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text3{
    position: sticky;
    top: 28em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text4{
    position: sticky;
    top: 35.5em;
    max-width: 100%;
    margin-bottom: 10em;
}

/*--------------THE PROBLEM SECTION--------------------*/

.the-problem {
    text-align: center;
    justify-content: center;
    padding-top: 40em;
    margin: auto;
    max-width: 70%;
    height: 280vh;
}

#the-problem-title{
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 50em;
}

#the-problem-text1 {
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-problem-text2 {
    position: sticky;
    top: 20em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-problem-text3{
    position: sticky;
    top: 25em;
    max-width: 100%;
    margin-bottom: 10em;
}


/*----------------------------------*/

#the-background {
    text-align: center;
    justify-content: center;
    padding: 10em;
    margin: auto;
    max-width: 70%;
}

