body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background-color: #03DB25;
}

/*---------HEADING+TITLE----------*/

.title {
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:20%;
    margin-bottom:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.subheading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -28%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:25%;
    font-weight: 100;
}

.author-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
}

/*---------THE AI SECTION----------*/
.the-AI{
    text-align: center;
    justify-content: center;
    padding: 5em;
    margin: auto;
    max-width: 70%;  /* Add a height to the parent element */
    height: 290vh;
}

#the-AI-title{
    position: sticky;
    top: 5em;
    font-weight: 500;
    margin-bottom: 50em; /*trying to add distance between the title and the text */
}

#the-AI-text1{
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text2{
    position: sticky;
    top: 19em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text3{
    position: sticky;
    top: 26em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-AI-text4{
    position: sticky;
    top: 34em;
    max-width: 100%;
    margin-bottom: 10em;
}

/*--------------THE PROBLEM SECTION--------------------*/

.the-problem {
    text-align: center;
    justify-content: center;
    padding-top: 40em;
    margin: auto;
    max-width: 70%;
    height: 280vh;
}

#the-problem-title{
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 50em;
}

#the-problem-text1 {
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-problem-text2 {
    position: sticky;
    top: 20em;
    max-width: 100%;
    margin-bottom: 10em;
}

#the-problem-text3{
    position: sticky;
    top: 25em;
    max-width: 100%;
    margin-bottom: 10em;
}


/*---------------THE BACKGROUND-------------------*/

.the-background {
    text-align: center;
    justify-content: center;
    padding-top: 50em;
    margin: auto;
    max-width: 70%;
    height: 500vh;
}

#the-background-title {
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 40em;
}

#the-background-text1 {
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 40em;
    height: 150vh;
}

#the-background-text2{
    text-align: left;
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 20em;
}

#list-item1{
    text-align: left;
}

#list-item2{
    text-align: left;
}

#list-item3{
    text-align: left;
}

#the-background-text3{
    position: sticky;
    top: 38em;
    max-width: 100%;
    margin-bottom: 10em;
}


/*---------------THE RESEARCH-------------------*/
.the-research-stage1{
    text-align: center;
    justify-content: center;
    padding-top: 40em;
    margin: auto;
    max-width: 90%;
    height: 570vh;
}

#the-research-title {
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 40em;
}

#the-paragraphs{
    display: flex;
    position: sticky;
    top: 10em;
    margin-bottom: 5em;
    height: 100em;
}

#the-research-paragraph1{
    max-width: 33%;
}

#the-research-paragraph2{
    max-width: 34%;
}

#the-research-paragraph3{
    max-width: 33%;
}

#the-research-text1 {
    position: sticky;
    top: 35em;
    max-width: 100%;
    margin-bottom: 40em;
    height: 30em;
}

#the-research-table{
    position: sticky;
    top: 15em;
    margin: 10px; 
    height: 20em;
    margin-bottom:10em;
}

th, tr, td{
    padding: 10px;
    border: 1px solid;
}

th {
    background-color: #000000;
    color: white;
}


/*---------------THE RESEARCH STAGE 2-------------------*/
.the-research-stage2{
    text-align: center;
    justify-content: center;
    padding-top: 45em;
    margin: auto;
    max-width: 70%;
    height: 500vh;
}

#the-research-title2{
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 50em;
}

#the-research2-text1{
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 40em;
}

#the-research2-text2{
    position: sticky;
    top: 22em;
    max-width: 100%;
    margin-bottom: 40em;
}

#the-research2-text3{
    position: sticky;
    top: 32em;
    max-width: 100%;
    margin-bottom: 40em;
}

/*---------------THE FINDINGS-------------------*/
.the-findings{
    text-align: center;
    justify-content: center;
    padding-top: 40em;
    margin: auto;
    max-width: 80%;
    height: 600vh;

}

#the-findings-title{
    position: sticky;
    top: 5em;
    max-width: 100%;
    margin-bottom: 50em;
}

#the-findings-text1{
    position: sticky;
    top: 10em;
    max-width: 100%;
    margin-bottom: 40em;
}

#data-viz-1{
    float: left;
    left: 10px;
    position: sticky;
    top: 11em;
    margin-bottom: 40em;
    max-width: 100%;
    padding: 3em;
}

#the-finding-text2{
    position: sticky;
    top: 18em;
    max-width: 100%;
    margin-bottom: 40em;
    padding-left: 10em;
}

#data-viz-2{
    float: left;
    left: 10px;
    position: sticky;
    top: 11em;
    margin-bottom: 40em;
    height: 50em;
    max-width: 100%;
    padding: 3em;
}

#the-finding-text3{
    position: sticky;
    top: 20em;
    max-width: 100%;
    margin-bottom: 40em;
    padding-left: 10em;
}
